@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.grid {
    display: grid;
}

.grid-template-areas-1 {
    grid-template-areas: 
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer"
    ;
}

.grid-template-areas-2 {
    grid-template-areas: 
    "sidenav logo nav"
    "sidenav content advert"
    "sidenav content footer"
    ;
}

.grid-template-areas-3 {
    grid-template-areas: 
    "logo logo"
    "nav nav"
    "sidenav advert"
    "footer footer"
    ;
}

.grid-template-areas-4 {
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 50px 150px 50px;
    grid-template-areas: 
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer"
    ;
}

.grid-template-areas-5 {
    grid-template-areas: 
    "logo       content     nav"
    "....       content     advert"
    "sidenav    footer      ...."
    ;
}

.logo {
    grid-area: logo;
}

.nav {
    grid-area: nav;
}

.sidenav {
    grid-area: sidenav;
}

.content {
    grid-area: content;
}

.advert {
    grid-area: advert;
}

.footer {
    grid-area: footer;
}


body {
    color: white;
    text-align: center;
    font-size: .85em;
    font-family: "Roboto";
}

body > div {
    padding: 10px 0;
}

body > div:nth-of-type(even) {
    background: #e7e7e7;
    margin: 25px 0;
}

body > div section{
    max-width: 400px;
    margin: 15px auto;
    border: 2px solid gray;
}

body > div h1 {
    color: black;
    margin: 0;
}

.item {
    margin: 5px;
    font-size: 1.5em;
    background: rgb(48, 91, 219);
}


